// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// NHS Blue
$color-nhs-blue: #005eb8;
$color-nhs-blue-dark: #003087;
$color-nhs-blue-light: #0072CE;
$color-nhs-blue-lighter: #41B6E6;
$color-nhs-blue-cyan: #00A9CE;

// NHS Neutrals
$color-nhs-black: #231f20;
$color-nhs-grey: #425563;
$color-nhs-grey-light: #768692;
$color-nhs-grey-lighter: #E8EDEE;

// NHS Greens
$color-nhs-green: #006747;
$color-nhs-green-dark: #005C4F;
$color-nhs-green-light: #009639;
$color-nhs-green-lighter: #78BE20;
$color-nhs-green-cyan: #00A499;

// NHS Highlights
$color-nhs-yellow: #FAE100;
$color-nhs-yellow-dark: #FFB81C;
$color-nhs-orange : #ED8B00;
$color-nhs-red: #8A1538;
$color-nhs-pink: #AE2573;
$color-nhs-magenta: #7C2855;
$color-nhs-purple: #330072;
$color-nhs-emergency: #DA291C;

// Override Bootstrap variables
$font-family-sans-serif: Arial, sans-serif;

// Create colour map
$nhs-colour-map : ("nhs-blue": $color-nhs-blue,
    "nhs-blue-dark": $color-nhs-blue-dark,
    "nhs-blue-light": $color-nhs-blue-light,
    "nhs-blue-lighter": $color-nhs-blue-lighter,
    "nhs-blue-cyan": $color-nhs-blue-cyan,
    "nhs-black": $color-nhs-black,
    "nhs-grey": $color-nhs-grey,
    "nhs-grey-light": $color-nhs-grey-light,
    "nhs-grey-lighter": $color-nhs-grey-lighter,
    "nhs-green": $color-nhs-green,
    "nhs-green-dark": $color-nhs-green-dark,
    "nhs-green-light": $color-nhs-green-light,
    "nhs-green-lighter": $color-nhs-green-lighter,
    "nhs-green-cyan": $color-nhs-green-cyan,
    "nhs-yellow": $color-nhs-yellow,
    "nhs-yellow-dark": $color-nhs-yellow-dark,
    "nhs-orange": $color-nhs-orange,
    "nhs-red": $color-nhs-red,
    "nhs-pink": $color-nhs-pink,
    "nhs-magenta": $color-nhs-magenta,
    "nhs-purple": $color-nhs-purple,
    "nhs-emergency": $color-nhs-emergency);

// Merge the NHS colour map with the Bootstrap colour map
$theme-colors: map-merge($theme-colors, $nhs-colour-map);

@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    font-family: Arial, sans-serif;
}

body {
    background-color: $color-nhs-grey-lighter;
    height: 100%;
    max-height: 100%;
    // Text colour
}


.btn-nhs {
    border: 2px solid $color-nhs-blue;
    background-color: $color-nhs-grey-lighter;
    // Text colour
    color: black;
    // Text size and weight
    font-size: 0.8rem;
    font-weight: light;

    // Set svg colour
    svg {
        fill: $color-nhs-blue;
    }

    // Hover
    &:hover {
        background-color: $color-nhs-blue;
        color: $color-nhs-grey-lighter;

        svg {
            fill: $color-nhs-grey-lighter;
        }
    }

    height: 80px;
    width: 80px;
}

.btn-nhs-help {
    border: 2px solid $color-nhs-green;
    background-color: $color-nhs-grey-lighter;
    // Text colour
    color: black;
    // Text size and weight
    font-size: 0.8rem;
    font-weight: light;

    // Set svg colour
    svg {
        fill: $color-nhs-green;
    }

    // Hover
    &:hover {
        background-color: $color-nhs-green;
        color: $color-nhs-grey-lighter;

        svg {
            fill: $color-nhs-grey-lighter;
        }
    }

    height: 80px;
    width: 80px;
}
#fader {
    opacity: 0.8;
    background: black !important;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.center {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, $color-nhs-blue-dark, $color-nhs-blue);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.help-img {
    // Fit in small section under text, aligned center
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-nhs-html {
    font-size: 32px;
    fill: $color-nhs-blue;
    color: $color-nhs-blue;
    // Hover
        &:hover {
            background-color: $color-nhs-blue;
            color: $color-nhs-grey-lighter;
    
            svg {
                fill: $color-nhs-grey-lighter;
            }
        }
}

.btn-nhs-html-help {
    font-size: 32px;
    fill: $color-nhs-green;
    color: $color-nhs-green;

    // Hover
    &:hover {
        background-color: $color-nhs-green;
        color: $color-nhs-grey-lighter;

        svg {
            fill: $color-nhs-grey-lighter;
        }
    }
}
